<%- include('partials/header.ejs') %>
    <h1>Library Management System</h1>
    <div class="nav-buttons">
      <a href="books">
      <button class="vbooks">
        <img src="/resources/UI Images/books.png" alt="" />
        <h3>View Books</h3>
      </button>
    </a>
    <a href="borrowers">
      <button class="vborrowers">
        <img src="resources/UI Images/group.png" alt="" />
        <h3>View Borrowers</h3>
      </button>
    </a>
    </div>
<%- include('partials/footer.ejs') %>
